$dark-color: #020100;
$yellow-color: #f1d302;
$blue-color: #3b6ef8;
$red-color: #d80027;
$white-color: #fdfffc;

$gray-color-100: #f4f5f6;
$gray-color-200: #ededed;
$gray-color-300: #4f4f4f;
$gray-color-400: #444444;
